<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <img src="\assets\boy-student-finding-in-book-from-the-library-8249627-6597580.webp">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a [routerLink]="['']" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>