<app-navbar></app-navbar>
<div class="d-flex justify-content-end">
  <button class="btn btn-success" type="submit" data-bs-toggle="modal" data-bs-target="#addBookModal">Create +</button>
</div>

  <div class="contaner">
        
    <app-book-card></app-book-card>

</div>

   
   
    









<!-- add book modal  -->

<div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBookModalLabel">Add New Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createform" (submit)="create()">
                    <div class="mb-3">
                        <label for="bookName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="bookName" formControlName="name" placeholder="Enter book name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                          <div *ngIf="f['name'].errors['required']">Book Name is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="bookAuthor" class="form-label">Author</label>
                        <input type="text" class="form-control" id="bookAuthor" formControlName="author" placeholder="Enter author name" [ngClass]="{ 'is-invalid': submitted && f['author'].errors }">
                        <div *ngIf="submitted && f['author'].errors" class="invalid-feedback">
                          <div *ngIf="f['author'].errors['required']">Author name is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="bookImage" class="form-label">Image URL</label>
                        <input type="url" class="form-control" id="bookImage" formControlName="image" placeholder="Enter image URL" [ngClass]="{ 'is-invalid': submitted && f['image'].errors }">
                        <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                          <div *ngIf="f['image'].errors['required']">Image is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="bookPages" class="form-label">Pages</label>
                        <input type="number" class="form-control" id="bookPages" formControlName="pages" placeholder="Enter number of pages" [ngClass]="{ 'is-invalid': submitted && f['pages'].errors }">
                        <div *ngIf="submitted && f['pages'].errors" class="invalid-feedback">
                          <div *ngIf="f['pages'].errors['required']">Number of Pages is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="bookPrice" class="form-label">Price</label>
                        <input type="number" class="form-control" id="bookPrice" formControlName="price" placeholder="Enter price" [ngClass]="{ 'is-invalid': submitted && f['price'].errors }">
                        <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                          <div *ngIf="f['price'].errors['required']">Price is required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" (click)="create()">Create</button>
            </div>
        </div>
    </div>
  </div>
  
  
  
  <div class="my-container">
    <ng-template #customLoadingTemplate>
      <div class="custom-class">
        <h3 style="color: aliceblue;"></h3>
      </div>
    </ng-template>
  
    <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '3px' }"
      [template]="customLoadingTemplate"
    ></ngx-loading>
    
  </div>